<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OLUWAPELOOMIE</h1>
    <p>You are currently on department's page </p>
  </body>
</html>
